.primedeals-list-heading {
  color: #475569;
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: 500;
  margin-top: 40px;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.register-prime-img {
  margin-top: 25px;
}

.primedeals-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}
