.product-item-details-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .product-item-details-container {
    margin-top: 40px;
  }
}

.product-details-success-view {
  width: 85%;
  max-width: 550px;
}

@media screen and (min-width: 768px) {
  .product-details-success-view {
    width: 80%;
    max-width: 1110px;
  }
}

.product-details-container {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .product-details-container {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 35px;
  }
}

.product-image {
  border-radius: 15px;
  flex-shrink: 0;
}

@media screen and (min-width: 768px) {
  .product-image {
    width: 40%;
    max-width: 380px;
    max-height: 350px;
  }
}

@media screen and (min-width: 768px) {
  .product {
    width: 48%;
  }
}

.product-name {
  color: #3e4c59;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .product-name {
    font-size: 20px;
    margin-top: 0px;
  }
}

.price-details {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.rating-and-reviews-count {
  display: flex;
  align-items: center;
}

.reviews-count {
  color: #12022f;
  font-family: 'Open Sans';
  font-size: 10px;
  margin-left: 6px;
}

.product-description {
  color: #616e7c;
  font-family: 'Roboto';
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 12px;
  line-height: 1.2;
}

@media screen and (min-width: 768px) {
  .product-description {
    font-size: 15px;
    margin-bottom: 16px;
  }
}

.label-value-container {
  display: flex;
  margin-bottom: 10px;
}

.label {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .label {
    font-size: 15px;
  }
}

.value {
  color: #616e7c;
  font-family: 'Roboto';
  font-size: 15px;
  margin-top: 0;
  margin-left: 8px;
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .value {
    font-size: 15px;
  }
}

.horizontal-line {
  border-top: 1px solid #cbced2;
  margin: 0;
}

.quantity-container {
  display: flex;
  align-items: center;
}

.quantity-controller-button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.quantity-controller-icon {
  color: #616e7c;
  width: 15px;
  height: 15px;
}

.quantity {
  color: #616e7c;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
  margin-left: 20px;
  margin-right: 20px;
}

@media screen and (min-width: 768px) {
  .quantity {
    font-size: 20px;
  }
}

.button {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 8px;
  font-weight: 500;
  background-color: #3b82f6;
  border: none;
  border-radius: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  outline: none;
  cursor: pointer;
}

.add-to-cart-btn {
  font-size: 8px;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .add-to-cart-btn {
    font-size: 12px;
    margin-bottom: 25px;
  }
}
.success-msg {
  color: rgb(37, 164, 37);
  font-weight: 700;
  font-size: 15px;
}

.similar-products-heading {
  color: #3e4c59;
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: 500;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .similar-products-heading {
    font-size: 30px;
  }
}

.similar-products-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 0;
}

@media screen and (min-width: 768px) {
  .similar-products-list {
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) {
  .similar-products-list {
    flex-direction: row;
  }
}

.products-details-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.product-details-error-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.error-view-image {
  width: 300px;
  height: 160px;
}

@media screen and (min-width: 768px) {
  .error-view-image {
    width: 500px;
    height: 250px;
  }
}

.product-not-found-heading {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: 500;
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .product-not-found-heading {
    font-size: 40px;
  }
}
