.product-item {
  list-style-type: none;
  margin-bottom: 35px;
  width: 160px;
  flex-grow: 0;
  flex-shrink: 1;
  margin-right: 16px;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .product-item {
    width: 200px;
    padding: 20px;
  }
}

.link-item {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.thumbnail {
  width: 100%;
  max-height: 300px;
  border-radius: 6px;
}

.title {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 4px;
}

.brand {
  color: #594d6d;
  font-family: 'Roboto';
  font-size: 15px;
  margin-bottom: 4px;
}

.product-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 1px;
}

.price {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 600;
  margin: 0px;
}

.rating-container {
  display: flex;
  align-items: center;
  background-color: #3f36ec;
  border-radius: 6px;
  padding: 4px 12px;
}

.rating {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 500;
  margin-right: 4px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.star {
  height: 20px;
  width: 20px;
  margin-bottom: 2px;
}
