.filters-group-container {
  margin-top: 10px;
}
@media screen and (max-width: 767px) {
  .filters-group-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .filters-group-container div {
    width: 45%;
  }
}

@media screen and (min-width: 768px) {
  .filters-group-container {
    max-width: 280px;
    min-width: 240px;
    margin-top: 10px;
    flex-shrink: 0;
    position: -webkit-sticky; /* For Safari */
    top: 0; /* Adjust this value if needed */
    z-index: 1000;
    position: fixed;
    height: 90vh;
  }
}

.search-container {
  display: flex;
  align-items: center;
  background-color: #f1f5f9;
  border-radius: 8px;
  padding-left: 16px;
  width: 100%;
}

.input-search-container {
  border: 1px solid red;
}

@media screen and (max-width: 767px) {
  .search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    overflow: hidden;
  }
}

@media screen and (min-width: 768px) {
  .search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f1f5f9;
    border-radius: 8px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.search-input {
  background-color: #f1f5f9;
  color: #0f172a;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  border: none;
  outline: none;
  flex-grow: 1;
}

.search-icon {
  color: #475569;
  width: 20px;
  height: 20px;
}

.category-heading {
  color: #12022f;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 700;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .category-heading {
    margin-top: 20px;
  }
}
@media screen and (min-width: 991px) {
  .category-heading {
    margin-top: 30px;
  }
}

.categories-list {
  width: 100%;
  max-width: 300px;
  padding: 5px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .categories-list {
    padding: 10px;
  }
}

.category-name {
  color: #64748b;
  font-family: 'Roboto';
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .category-name {
    font-size: 18px;
  }
}
.rating-heading {
  color: #12022f;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 700;
  margin-top: 32px;
  margin-bottom: 18px;
}

.clear-filters-btn {
  background-color: #ffffff;
  color: #3f36ec;
  font-family: 'Roboto';
  font-size: 10px;
  font-weight: 700;
  border-radius: 4px;
  border: 1px solid #3f36ec;
  padding-top: 8px;
  padding-left: 12px;
  padding-bottom: 8px;
  padding-right: 12px;
  margin-top: 16px;
  outline: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .clear-filters-btn {
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 32px;
  }
}
